{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos</title>
    <link rel="icon" href="{% static 'img/favicon.png.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'core/css/documentos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/logout_alert.css' %}">
</head>
<body>
    <!-- Barra superior -->
    <div class="top-bar">
        <div class="left-side">
            <a href="{% url 'visualizacion_admin' %}">
                <img src="{% static 'img/Logo azul sin fondo.png' %}" alt="EcoFact Logo" class="logo1" />
                <img src="{% static 'img/logo empresa.png' %}" alt="Empresa logo " class="logo2" />
            </a>
        </div>

        <div class="right-side">
            <a href="{% url 'documentos' %}"><img src="{% static 'img/documento.png' %}" class="icono"></a>
            <a href="{% url 'actualizar_perfil' %}"><img src="{% static 'img/editar.png' %}" class="icono"></a>
            <a href="{% url 'cambiocontraseña' %}"><img src="{% static 'img/contrasena.png' %}" class="icono"></a>
            <a href="{% url 'login' %}" onclick="showLogoutConfirmation(event, '{% url 'login' %}'); return false;"><img src="{% static 'img/cerrar-sesion.png' %}" class="icono"></a>
        </div>
    </div>

  <!-- Barra de navegación -->
  <header>
    <nav class="menu">
      <a href="{% url 'visualizacion_admin' %}">Inicio</a>
    </nav>
  </header>  

  <!-- Contenedor de documentos -->
  <section class="documentos">
    <h3>Documentos</h3>
    
    <!-- Documentos para Administrador -->
    {% if user.rol_usuario == 'admin' %}
      <a href="{% static 'media/documents/Manual Usuario Administrador.pdf' %}" class="doc-item" download>Manual de Usuario Administrador</a>
      <a href="{% static 'media/documents/Manual Tecnico.pdf' %}" class="doc-item" download>Manual Técnico</a>
      <a href="{% static 'media/documents/Politica de proteccion de datos.pdf' %}" class="doc-item" download>Política de Protección de Datos</a>
      <a href="{% static 'media/documents/POLÍTICAS DE PRIVACIDAD.docx.pdf' %}" class="doc-item" download>Políticas de Privacidad</a>
    {% endif %}
    
    <!-- Documentos para Vendedor -->
    {% if user.rol_usuario == 'vendedor' %}
      <a href="{% static 'media/documents/Manual Usuario Vendedor.pdf' %}" class="doc-item" download>Manual de Usuario Vendedor</a>
      <a href="{% static 'media/documents/Politica de proteccion de datos.pdf' %}" class="doc-item" download>Política de Protección de Datos</a>
      <a href="{% static 'media/documents/POLÍTICAS DE PRIVACIDAD.docx.pdf' %}" class="doc-item" download>Políticas de Privacidad</a>
    {% endif %}
    
    <!-- Documentos para Cliente -->
    {% if user.rol_usuario == 'cliente' %}
      <a href="{% static 'media/documents/Manual Usuario Cliente.pdf' %}" class="doc-item" download>Manual de Usuario Cliente</a>
      <a href="{% static 'media/documents/Politica de proteccion de datos.pdf' %}" class="doc-item" download>Política de Protección de Datos</a>
      <a href="{% static 'media/documents/POLÍTICAS DE PRIVACIDAD.docx.pdf' %}" class="doc-item" download>Políticas de Privacidad</a>
    {% endif %}
  </section>

  <!-- Pie de página -->
    <footer>
        <div class="footer-bar"> 
            <div class="footer-item">
                <img src="{% static 'img/mensaje.png' %}" alt="Ubicación">
                Ecofactproyect@gmail.com
            </div>
            <div class="footer-item">
                <img src="{% static 'img/llamada-telefonica.png' %}" alt="Teléfono"> 
                333-333-333
            </div>
        </div>
        <div class="footer-bottom">@2025-ECOFACT</div> 
    </footer>

  <script src="{% static 'core/js/logout_confirmation.js' %}"></script>
</body>
</html>